@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

.label, .card-header, .card-title, .todo-label {
  font-family: 'Alice', serif;
}

.card-title, .label {
  font-size: 40px;
}

.todo-label {
  font-size: 20px;
}

.checkbox {
  width: 20px; 
  height: 20px;
}

.todoapp, .card-body {
  border-color: rgb(215, 174, 124);
}

.card-header{
  font-size: 60px;
}

.container-fluid {
  background: url("./images/background_paper.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}